@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7F58D8;       /* Base Purple */
  --color-primary-dark: #6A49BC;  /* Darker Purple (Hover) */
  --color-primary-light: #EDE9FE; /* Very Light Purple (Backgrounds) */
}

body {
  @apply bg-white text-text-primary antialiased;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: inherit !important;
  border-radius: 0.75rem !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07) !important;
}

.react-datepicker__header {
  background-color: #f7f7f8 !important;
  border-bottom: 1px solid #e5e7eb !important;
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #212529 !important;
  font-weight: 500 !important;
}

.react-datepicker__day--selected {
  background-color: var(--color-primary) !important;
  color: white !important;
  border-radius: 0.5rem !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary-light) !important;
  color: var(--color-primary) !important;
  border-radius: 0.5rem !important;
}

.react-datepicker__day:hover {
  background-color: #f3f4f6 !important;
  border-radius: 0.5rem !important;
}