.quill-container .ql-toolbar {
  border-top-left-radius: 0.5rem;
  /* 8px */
  border-top-right-radius: 0.5rem;
  /* 8px */
  border: 1px solid #e5e7eb;
  /* gray-200 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  /* shadow-input */
}

.quill-container .ql-container {
  /* Match our rounded-lg and border */
  border-bottom-left-radius: 0.5rem;
  /* 8px */
  border-bottom-right-radius: 0.5rem;
  /* 8px */
  border: 1px solid #e5e7eb;
  /* gray-200 */
  border-top: 0;
  /* Remove the top border */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  /* shadow-input */
}

/* --- DARK MODE BORDER FIX --- */
.dark .quill-container .ql-toolbar {
  border-color: #4b5563;
  /* gray-600 */
}

.dark .quill-container .ql-container {
  border-color: #4b5563;
  /* gray-600 */
}

.quill-container .ql-editor {}